body,
#root {
	@apply flex flex-col items-center
	bg-slate-800 pt-7;
}

.searchContainer {
	@apply w-[30rem] mt-5 relative;
}

.searchBox {
	@apply relative w-full text-white;
}

.searchBox input {
	@apply w-full
	pl-4 py-2 pr-12 outline-none
	bg-slate-700 border border-slate-600 rounded-lg;
}

.searchBox svg {
	@apply absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer
	text-slate-400 h-5 w-5;
}

.results {
	@apply flex flex-col absolute -bottom-1 translate-y-full
	w-full z-50
	border border-slate-600 rounded-xl overflow-hidden;
}

.result {
	@apply flex flex-row gap-4 items-center relative
	px-4 py-2 bg-slate-700
	border-slate-600 text-white
	[&:not(:last-child)]:border-b;
}

.result .short {
	@apply absolute right-5 text-slate-400 italic;
}

.chips {
	@apply mt-2
	grid grid-cols-6 gap-2;
}
.chip {
	@apply text-white border text-center
	border-slate-600 bg-slate-700 rounded-md px-3 py-1;
}
/* .chip + .chip {
	@apply ml-2;
} */

/* Table CSS */

thead th span {
	@apply font-normal text-sm text-slate-300;
}

tr {
	@apply h-[4.5rem];
}

tr.active {
	@apply rounded-xl bg-emerald-300/70;
}

td:first-child,
th:first-child {
	border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
	border-radius: 0 10px 10px 0;
}

td,
th {
	@apply px-2 text-center;
}

td {
	@apply py-2 relative;
}

thead th {
	@apply border-b border-slate-600 min-w-[5rem] relative;
}

thead th:first-child::after {
	@apply content-[''] right-0 bottom-0 top-1/2 bg-slate-600 w-[1px] absolute;
}
tbody th {
	@apply border-r border-slate-600;
}

.divider {
	@apply h-[1px] bg-slate-600 w-full my-1 mx-auto;
}

table {
	@apply text-white mt-2 overflow-hidden;
}

td .sizing {
	@apply opacity-0;
}

td .sizing span,
td .asthetic span {
	@apply bg-slate-700 block rounded-xl py-1 px-2;
}

td .asthetic {
	@apply absolute inset-0 p-[6px]
	flex flex-col items-center justify-center;
}

td .asthetic span {
	@apply flex-grow w-full flex-wrap
	flex items-center justify-center;
}
