/* These are comopoents from daisyUI  */

:root {
	--bc: 220 13% 69%;
	--b1: 212 18% 14%;
}

.checkbox {
	flex-shrink: 0;
	--chkbg: var(--bc);
	--chkfg: var(--b1);
	height: 1.5rem;
	width: 1.5rem;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	border-width: 1px;
	border-color: hsl(var(--bc) / var(--tw-border-opacity));
	--tw-border-opacity: 0.2;
	border-radius: var(--rounded-btn, 0.5rem);
}

.checkbox:focus-visible {
	outline-style: solid;
	outline-width: 2px;
	outline-offset: 2px;
	outline-color: hsl(var(--bc) / 1);
}

.checkbox:checked,
.checkbox[checked="true"],
.checkbox[aria-checked="true"] {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--bc) / var(--tw-bg-opacity));
	background-repeat: no-repeat;
	animation: checkmark var(--animation-input, 0.2s) ease-in-out;
	background-image: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65.99%), linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
		linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%), linear-gradient(45deg, hsl(var(--chkbg)) 30%, hsl(var(--chkfg)) 30.99%, hsl(var(--chkfg)) 40%, transparent 40.99%),
		linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%);
}

.checkbox:indeterminate {
	--tw-bg-opacity: 1;
	background-color: hsl(var(--bc) / var(--tw-bg-opacity));
	background-repeat: no-repeat;
	animation: checkmark var(--animation-input, 0.2s) ease-in-out;
	background-image: linear-gradient(90deg, transparent 80%, hsl(var(--chkbg)) 80%), linear-gradient(-90deg, transparent 80%, hsl(var(--chkbg)) 80%),
		linear-gradient(0deg, hsl(var(--chkbg)) 43%, hsl(var(--chkfg)) 43%, hsl(var(--chkfg)) 57%, hsl(var(--chkbg)) 57%);
}

.checkbox-xs {
	height: 1rem;
	width: 1rem;
}

.checkbox-sm {
	height: 1.25rem;
	width: 1.25rem;
}

.checkbox-md {
	height: 1.5rem;
	width: 1.5rem;
}

.checkbox-lg {
	height: 2rem;
	width: 2rem;
}
